In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet("oracle-02.DEBEZIUM.TRANSACTIONS+0+0000000000+0000000004.parquet")
df

,before,after,source,op,ts_ms,transaction
0,None,"{'UserId': 321531, 'TransactionId': 5900191, '...","{'version': '2.4.2.Final', 'connector': 'oracl...",r,1713235866340,None
1,None,"{'UserId': 321531, 'TransactionId': 5900191, '...","{'version': '2.4.2.Final', 'connector': 'oracl...",r,1713235866341,None
2,None,"{'UserId': 321531, 'TransactionId': 5900191, '...","{'version': '2.4.2.Final', 'connector': 'oracl...",r,1713235866341,None
3,None,"{'UserId': 321531, 'TransactionId': 5900191, '...","{'version': '2.4.2.Final', 'connector': 'oracl...",r,1713235866341,None
4,None,"{'UserId': 321531, 'TransactionId': 5900191, '...","{'version': '2.4.2.Final', 'connector': 'oracl...",r,1713235866342,None